<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta name = "viewport" content = "width-device-width, initial-scale=1" charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Summary_choose2.css') }}">
    </head>

    <body>
        <div>
            <h1 onclick="location.href='/'">E-yes AI
      <img width="70" height="70" src="https://img.icons8.com/external-goofy-flat-kerismaker/96/external-Braille-communication-goofy-flat-kerismaker.png" alt="E-yes"/>
      </h1>
            </div>
        
		<h2>요약하고자 하는 문서의 언어를 선택해주세요</h2>
		
        <div class="page_button">
            <a href="/Summary"><h3>
                
                한글 </h3></a>
			<a href="/Summary_en"><h3>
                
                영어</h3></a>
        </div>
    </body>
    
    <footer>
        Copyright 2023. E-yes AI 가이드. All Rights Reserved.
    </footer>
</html>

