.submit{
        display: inline;
        justify-content: center;
        padding: 10px;
        border: 2px solid lightgray;
        border-radius: 3px;
        width: 170px;
        background-color: #00462A;
        border-color: transparent;
        color: white;
        position: relative;
        height: 30px%;
        }

 footer {
      margin: 20px auto;
      text-align: center;
}